[Unit]
Description=Demoapp Service
After=network.target
StartLimitBurst=5
StartLimitIntervalSec=30

[Service]
Type=simple
Restart=on-failure
RestartSec=5
User=demoapp
ExecStart=/home/demoapp/bin/demoapp

[Install]
WantedBy=multi-user.target

